.THIS .container {
	height: 600px;
	width: 500px;
	position: relative;
}

.THIS .lring {
	position: relative;
	top: 0;
	left: 50%;
	height: 13%;
	width: 20%;
	border-radius: 45%;
	border: solid #666 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 1), inset 0 0 1px rgba(0, 0, 0, 1);
	transform: translate(-50%, 0);
}
.THIS .ltop {
	position: absolute;
	top: 10.5%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 10%;
	width: 15%;
	background: #ffbc20;
	border-radius: 5px;
}

.THIS .lbot {
	position: relative;
	top: -20px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	border-bottom: 5rem solid #ffbc20;
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	height: 0;
	width: 30%;
}
.THIS .lamp {
	position: relative;
	top: 50px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	
	border-radius: 50%;
	background: #ffbc20;
	animation: blink 1s infinite ease;
}

.THIS .l2 {
	top: 0;
	height: 40%;
	width: 50%;
	border-radius: 50%;
	border: 10px solid #ffbc20;
	background: #ffbc20;
	background-size: 5% 5%;
	background-image: linear-gradient(
			45deg,
			#a37d23 25%,
			transparent 25%,
			transparent 75%,
			#a37d23 75%,
			#543f0f
		),
		linear-gradient(
			135deg,
			#a37d23 25%,
			transparent 25%,
			transparent 75%,
			#a37d23 75%,
			#543f0f
		);
}


@keyframes blink {
	0% {
		box-shadow: 0 0 0 #ffbc20;
	}
	85% {
		box-shadow: 0 0 0 #ffbc20;
	}
	100% {
		box-shadow: 0 0 200px #ffbc20;
	}
}

.THIS .main {
	position: absolute;
	top: 53%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 40%;
	width: 65%;
	background: #ffe04c;
	border-radius: 20% 20% 5% 5%;
	box-shadow: 0 0 40px rgba(0, 0, 0, 1), inset 0 0 10px rgba(0, 0, 0, 0.9);
}

.THIS .bottom {
	position: absolute;
	top: 93%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 6%;
	width: 60%;
	background: #2b2a28;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1), inset 0 0 10px rgba(0, 0, 0, 0.9);
}

.THIS .screw {
	position: relative;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 10%;
	width: 12.5%;
	border-radius: 50%;
	background: radial-gradient(#ddd, #aaa, #333);
	box-shadow: 0 0 10px rgba(0, 0, 0, 1), inset 0 0 2px rgba(0, 0, 0, 0.9);
}

.THIS .hex {
	position: relative;
	top: 39%;
	left: 51%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	width: 40%;
	height: 23%;
	background: #888;
}
.THIS .hex:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 50%;
	width: 0;
	height: 0;
	transform: translate(-50%, 0);
	border-left: .8rem solid transparent;
	border-right: .8rem solid transparent;
	border-bottom: 0.4rem solid #888;
}
.THIS .hex:after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: .8rem solid transparent;
	border-right: .8rem solid transparent;
	border-top: 0.4rem solid #888;
}


/*.THIS {
    background: #4b79a1;
	background: -webkit-linear-gradient(to right, #283e51, #4b79a1);
	background: linear-gradient(to right, #283e51, #4b79a1);
}*/
/*
.THIS {
    height: 80vh;
}

.THIS .lampcontainer {
    clear: all;
    height: 100%;
}

.THIS #output {
    clear:left;
}
.THIS .lring {
	position: relative;
	top: -12vh;
	left: 9.9vh;
	height: 12vh;
	width: 10vh;
	border-radius: 30vh;
	border: solid #666 1vh;
	box-shadow: 0 0 1vh rgba(0, 0, 0, 1), inset 0 0 1vh rgba(0, 0, 0, 1);
}
.THIS .ltop {
	position: absolute;
	top: -1.5vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 3vh;
	width: 8vh;
	background: #ffbc20;
	border-radius: 0.5vh;
}

.THIS .lbot {
	position: absolute;
	top: 27.5vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	border-bottom: 10vh solid #ffbc20;
	border-left: 5vh solid transparent;
	border-right: 5vh solid transparent;
	height: 0;
	width: 12vh;
}
.THIS .lamp {
	position: absolute;
	top: 20vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 30vh;
	width: 30vh;
	border-radius: 30vh;
	background: #ffbc20;
	animation: blink 1s infinite ease;
}

.THIS .l2 {
	top: 1vh;
	height: 28vh;
	width: 28vh;
	border-radius: 30vh;
	background: #ffbc20;
	background-size: 1.5vh 1.5vh;
	background-image: linear-gradient(
			45deg,
			#a37d23 25%,
			transparent 25%,
			transparent 75%,
			#a37d23 75%,
			#543f0f
		),
		linear-gradient(
			135deg,
			#a37d23 25%,
			transparent 25%,
			transparent 75%,
			#a37d23 75%,
			#543f0f
		);
}

@keyframes blink {
	0% {
		box-shadow: 0 0 0vh #ffbc20;
	}
	85% {
		box-shadow: 0 0 0vh #ffbc20;
	}
	100% {
		box-shadow: 0 0 100vh #ffbc20;
	}
}

.THIS .main {
	position: absolute;
	top: 30vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 26vh;
	width: 38vh;
	background: #ffe04c;
	border-radius: 5vh 5vh 1vh 1vh;
	box-shadow: 0 0 2vh rgba(0, 0, 0, 1), inset 0 0 1vh rgba(0, 0, 0, 0.9);
}

.THIS .bottom {
	position: absolute;
	top: 56vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 4vh;
	width: 36vh;
	background: #2b2a28;
	border-radius: 0vh 0vh 2vh 2vh;
	box-shadow: 0 0 2vh rgba(0, 0, 0, 1), inset 0 0 1vh rgba(0, 0, 0, 0.9);
}

.THIS .screw {
	position: relative;
	top: 30vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	height: 7vh;
	width: 7vh;
	border-radius: 30vh;
	background: radial-gradient(#ddd, #aaa, #333);
	box-shadow: 0 0 1vh rgba(0, 0, 0, 1), inset 0 0 0.1vh rgba(0, 0, 0, 0.9);
}

.THIS .hex {
	position: relative;
	top: 3vh;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	width: 2vh;
	height: 1.2vh;
	background: #888;
}
.THIS .lamp .screw .hex:before {
	content: "";
	position: absolute;
	top: -0.5vh;
	left: 0;
	width: 0;
	height: 0;
	border-left: 1vh solid transparent;
	border-right: 1vh solid transparent;
	border-bottom: 0.5vh solid #888;
}
.THIS .lamp .screw .hex:after {
	content: "";
	position: absolute;
	bottom: -0.5vh;
	left: 0;
	width: 0;
	height: 0;
	border-left: 1vh solid transparent;
	border-right: 1vh solid transparent;
	border-top: 0.5vh solid #888;
}*/